<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Admin Paneli</title>
    <link rel="stylesheet" href="/AdminDashBoardStyle.css">
</head>
<body>


<div class="top-bar">
    <div class="top-bar-buttons">
        <button onclick="changePassword()">Şifre Değiştir</button>
        <button onclick="logout()">Çıkış Yap</button>
    </div>
</div>
<h1>Görev Yönetimi - Admin Paneli</h1>
<div class="filter-bar">
    <label for="statusFilter">Duruma Göre Filtrele:</label>
    <select id="statusFilter" onchange="filterReports()">
        <option value="Tümü">Tümü</option>
        <option value="beklemede">Beklemede</option>
        <option value="atandı">Atandı</option>
        <option value="aktif">Aktif</option>
        <option value="reddedildi">Reddedildi</option>
        <option value="yapıldı">Yapıldı</option>
    </select>
</div>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Başlık</th>
        <th>İçerik</th>
        <th>Durum</th>
        <th>Zamanlar</th>
        <th>Personel Ata</th>
        <th>Admin İşlemleri</th>
    </tr>
    </thead>
    <tbody id="reportBody">
    <!-- JS dolduracak -->
    </tbody>
</table>



<script src="/AdminDashBoardScript.js"></script>
<script>
    if (!localStorage.getItem("companyId")) {
      window.location.href = "http://localhost:8080/task/login";
    }
</script>
</body>
</html>
